In [1]:
import pandas as pd
import numpy as np

In [2]:
# Чтение файла, для категориальных столбцов  задан тип данных строка, 
# поскольку действий с ними производить нельзя, а потеря символа 0 может иметь значение
# символ ? - приобретает значение NaN

df = pd.read_csv('horse_data.csv', names = ['surgery', 'age', 'hospital_number', 'rectal_temp', 
              'pulse', 'resp_rate', 'temp_extremities', 'peripheral_pulse',
             'mucous_membr', 'capillary_refill_time', 'pain', 'peristalsis',
              'abdominal_distension', 'nasogastric_tube', 'nasogastric_reflux',
             'nasogastric_reflux_PH', 'rectal_examination', 'abdomen',
             'packed_cell_volume', 'total_protein', 'abdominocentesis_appearance',
             'abdomcentesis_total_protein', 'outcome', 'surgical_lesion',
             'site_lesion', 'site_lesion2', 'site_lesion3', 'cp_data'], dtype = {'surgery':str, 'hospital_number':str,
             'temp_extremities':str, 'peripheral_pulse':str, 'mucous_membr':str, 'capillary_refill_time':str, 'pain':str,
             'peristalsis':str, 'abdominal_distension':str, 'nasogastric_tube':str, 'nasogastric_reflux':str,
             'rectal_examination':str, 'abdomen':str, 'abdominocentesis_appearance':str, 'outcome':str,
             'surgical_lesion':str, 'site_lesion':str, 'site_lesion2':str, 'site_lesion3':str, 'cp_data':str}, na_values ='?')

In [31]:
# ВЫбор тестовых столбцов

df_test = df[['surgery', 'age', 'hospital_number', 'rectal_temp', 'pulse', 'total_protein', 'outcome', 'surgical_lesion', 'site_lesion']]

In [4]:
df_test.head()

,surgery,age,hospital_number,rectal_temp,pulse,total_protein,outcome,surgical_lesion,site_lesion
0,2,1,530101,38.5,66.0,8.4,2,2,11300
1,1,1,534817,39.2,88.0,85.0,3,2,02208
2,2,1,530334,38.3,40.0,6.7,1,2,00000
3,1,9,5290409,39.1,164.0,7.2,2,1,02208
4,2,1,530255,37.3,104.0,7.4,2,2,04300

In [5]:
print('Число лошадей, которым сделали операцию: ', (df_test.surgery == '1').sum())
print('Число лошадей, лечившихся без хирургического вмешательства: ', (df_test.surgery == '2').sum())

Число лошадей, которым сделали операцию:  180
Число лошадей, лечившихся без хирургического вмешательства:  119

In [6]:
print('Максимальный возраст пацентов:', df_test.age.max())
print('Минимальный возраст пацентов:', df_test.age.min())
print('Самый часто встречающийся возраст пациентов:', df_test.age.value_counts().index[0])

Максимальный возраст пацентов: 9
Минимальный возраст пацентов: 1
Самый часто встречающийся возраст пациентов: 1

In [7]:
# Возраст и количество пациентов. Подсчет медианы, среднеариф. возраста или моды в данном случае не имеет смысла
df_test.age.value_counts()

1    276
9     24
Name: age, dtype: int64

### Среднее, мода, медиана

In [8]:
print('Средняя температура по больнице ', df_test.rectal_temp.mean())
print('Мода значений температуры ', df_test.rectal_temp.round().mode()[0])
print('Медиана значений температуры', df_test.rectal_temp.median())

Средняя температура по больнице  38.16791666666669
Мода значений температуры  38.0
Медиана значений температуры 38.2

In [9]:
print('Среднее пульса по больнице ', df_test.pulse.mean())
print('Мода значений пульса ', df_test.pulse.round().mode()[0])
print('Медиана значений пульса', df_test.pulse.median())

Среднее пульса по больнице  71.91304347826087
Мода значений пульса  48.0
Медиана значений пульса 64.0

In [10]:

print('Среднее общий белок по больнице ', df_test.total_protein.mean())
print('Мода значений общий белок ', df_test.total_protein.round().mode()[0])
print('Медиана значений общий белок', df_test.total_protein.median())

Среднее общий белок по больнице  24.456928838951317
Мода значений общий белок  7.0
Медиана значений общий белок 7.5

### СКО и дисперсия

In [11]:
print('СКО и диспресия')
print('Температура')
print(df_test.rectal_temp.std(), '/', df_test.rectal_temp.var())
print('Пульс')
print(df_test.pulse.std(), '/', df_test.pulse.var())
print('Общий белок')
print(df_test.total_protein.std(), '/', df_test.total_protein.var())

СКО и диспресия
Температура
0.7322886641121578 / 0.5362466875871686
Пульс
28.630556660735003 / 819.7087747035575
Общий белок
27.475009470785064 / 754.8761454197289

In [12]:
Q1_T = df_test.rectal_temp.quantile(0.25)
Q3_T = df_test.rectal_temp.quantile(0.75)
IQR_T = Q3_T - Q1_T
print('Температура \nIQR: ', IQR_T, '\n25ый квантиль: ', Q1_T, '\n75ый квантиль', Q3_T)

Температура
IQR:  0.7000000000000028
25ый квантиль:  37.8
75ый квантиль 38.5

In [13]:
Q1_P = df_test.pulse.quantile(0.25)
Q3_P = df_test.pulse.quantile(0.75)
IQR_P = Q3_P - Q1_P
print('Пульс \nIQR: ', IQR_P, '\n25ый квантиль: ', Q1_P, '\n75ый квантиль', Q3_P)

Пульс
IQR:  40.0
25ый квантиль:  48.0
75ый квантиль 88.0

In [14]:
Q1_TP = df_test.total_protein.quantile(0.25)
Q3_TP = df_test.total_protein.quantile(0.75)
IQR_TP = Q3_TP - Q1_TP
print('Общий белок \nIQR: ', IQR_TP, '\n25ый квантиль: ', Q1_TP, '\n75ый квантиль', Q3_TP)

Общий белок
IQR:  50.5
25ый квантиль:  6.5
75ый квантиль 57.0

In [32]:
df_test.describe()

              age  rectal_temp       pulse  total_protein
count  300.000000   240.000000  276.000000     267.000000
mean     1.640000    38.167917   71.913043      24.456929
std      2.173972     0.732289   28.630557      27.475009
min      1.000000    35.400000   30.000000       3.300000
25%      1.000000    37.800000   48.000000       6.500000
50%      1.000000    38.200000   64.000000       7.500000
75%      1.000000    38.500000   88.000000      57.000000
max      9.000000    40.800000  184.000000      89.000000

### Выбросы

In [16]:
# выбросы температура
# В данном случае все значения температуры находятся в пределах разумного, поэтому данные из расчетов я бы никакие не убирала
# При ректальной температуре ниже 36.5 - летальный исход, что закономерно, поскольку низкие температуры у лошади
# зачастую говорят о состоянии шока. Высокие температуры у жеребят (а лошадь в 1 год еще жеребенок) в районе 40 также вполне 
# обоснованы, поскольку норма температуры у жеребенка до 39гр, при температуре выше 40 опять же летальный исход.
# Данных, выбивающихся из общих медицинских представлений, не обнаружила, поэтому считаю возможным сохранить все строки

lower_bound_T = Q1_T - (1.5 * IQR_T) 
upper_bound_T = Q3_T + (1.5 * IQR_T)
remove_outliers_T = df_test[df_test.rectal_temp.between(lower_bound_T, upper_bound_T, inclusive=True)].sort_values('rectal_temp')
df_test[~df_test.index.isin(remove_outliers_T.index)].sort_values( ['rectal_temp', 'outcome', 'age', 'pulse', 'total_protein']).head(20) #остальные значения Nan

,surgery,age,hospital_number,rectal_temp,pulse,total_protein,outcome,surgical_lesion,site_lesion
44,1,1,535407,35.4,140.0,69.0,3,1,03205
141,2,1,522979,36.0,42.0,6.8,2,2,01400
238,2,1,528702,36.1,88.0,7.0,3,1,02209
80,1,1,527518,36.4,98.0,6.4,2,1,02205
118,1,1,533983,36.5,78.0,75.0,1,1,03112
298,1,1,530612,36.5,100.0,6.0,1,1,02208
251,2,1,527940,36.6,42.0,7.1,2,1,05111
99,2,1,530002,39.6,108.0,8.0,1,2,04300
75,1,9,534092,39.7,100.0,57.0,3,1,01400
20,1,1,530157,39.9,72.0,6.1,1,1,02111
281,2,1,530624,40.0,78.0,6.5,2,1,08400
91,2,1,529461,40.3,114.0,8.1,2,1,03205
54,2,1,529461,40.3,114.0,8.1,3,1,07400
259,1,1,527734,40.8,72.0,7.4,2,1,11400
112,1,1,534963,NaN,40.0,56.0,1,1,03111
167,2,1,528299,NaN,44.0,6.3,1,2,03111
68,2,1,529777,NaN,52.0,7.2,1,2,02124
219,1,1,529736,NaN,52.0,8.1,1,1,02111
178,1,1,533968,NaN,60.0,70.0,1,1,06111
65,1,1,534885,NaN,60.0,72.0,1,1,02208

In [17]:
# Выбросы Пульс
# В стытистику выбросов попал экстремально высокий пульс (естественно для лошади находящейся в покое),
# но с учетом общего сосотояния и исхода можно сделать выводы, что это не случайность или ошибка, 
# а реальное состояние при определенных условиях, поэтому данные, я считаю, необходимо оставить в неизменном виде.
# единственно выживший при таких показателях - имеет болезнь не хирургического характера.

lower_bound_P = Q1_P - (1.5 * IQR_P) 
upper_bound_P = Q3_P + (1.5 * IQR_P)
remove_outliers_P = df_test[df_test.pulse.between(lower_bound_P, upper_bound_P, inclusive=True)].sort_values('pulse')
df_test[~df_test.index.isin(remove_outliers_P.index)].sort_values(['pulse', 'outcome', 'age', 'rectal_temp', 'total_protein']).head(20)

,surgery,age,hospital_number,rectal_temp,pulse,total_protein,outcome,surgical_lesion,site_lesion
41,2,9,5288249,39.0,150.0,8.5,1,1,09400
275,1,9,5297159,38.8,150.0,6.2,2,1,04207
55,1,9,5282839,38.6,160.0,NaN,2,1,07111
3,1,9,5290409,39.1,164.0,7.2,2,1,02208
255,1,9,5294539,38.8,184.0,3.3,2,1,07111
126,1,1,530384,38.7,NaN,6.5,1,1,31110
204,1,1,529528,39.2,NaN,6.6,1,1,03115
56,1,1,528872,NaN,NaN,6.7,1,1,03112
159,2,1,528134,NaN,NaN,7.5,1,2,00000
52,2,1,529483,NaN,NaN,7.7,1,2,03111
160,1,1,527916,NaN,NaN,58.0,1,1,04205
115,2,1,533723,NaN,NaN,70.0,1,2,00000
5,2,1,528355,NaN,NaN,NaN,1,2,00000
175,1,1,527929,NaN,NaN,NaN,1,1,02208
216,2,1,528977,NaN,NaN,NaN,1,2,00000
288,1,1,529428,NaN,NaN,NaN,1,1,02124
227,1,9,5289419,NaN,NaN,6.5,1,1,09000
83,1,1,5279822,38.0,NaN,7.8,2,1,03205
182,1,1,5279822,38.0,NaN,7.8,2,1,02205
151,1,1,529399,39.3,NaN,NaN,2,1,02207

In [18]:
# Выбросы общий белок
# В статистику выбросов попали только значения Nan.

lower_bound_TP = Q1_TP - (1.5 * IQR_TP) 
upper_bound_TP = Q3_TP + (1.5 * IQR_TP)
remove_outliers_TP = df_test[df_test.total_protein.between(lower_bound_TP, upper_bound_TP, inclusive=True)].sort_values('total_protein')
df_test[~df_test.index.isin(remove_outliers_TP.index)]

,surgery,age,hospital_number,rectal_temp,pulse,total_protein,outcome,surgical_lesion,site_lesion
5,2,1,528355,NaN,NaN,NaN,1,2,00000
17,2,1,526639,37.5,48.0,NaN,1,2,00000
25,2,1,529518,37.8,60.0,NaN,1,2,00000
28,1,1,5279442,NaN,NaN,NaN,2,2,04300
39,1,9,5277409,39.2,146.0,NaN,2,1,02113
51,1,1,527706,37.4,84.0,NaN,2,1,07209
55,1,9,5282839,38.6,160.0,NaN,2,1,07111
59,2,1,528904,NaN,96.0,NaN,2,1,04205
72,1,1,5299253,37.7,56.0,NaN,2,1,02113
81,1,1,534756,37.3,40.0,NaN,1,1,03111
101,1,1,534899,NaN,60.0,NaN,3,1,03205
113,1,1,527933,36.8,60.0,NaN,2,1,03205
130,1,1,528964,37.8,30.0,NaN,2,1,02113
137,1,1,534324,38.0,48.0,NaN,1,1,03111
151,1,1,529399,39.3,NaN,NaN,2,1,02207
158,2,1,528248,38.0,42.0,NaN,1,2,03111
169,1,1,535085,NaN,65.0,NaN,3,1,03205
174,2,1,518476,NaN,NaN,NaN,2,1,03400
175,1,1,527929,NaN,NaN,NaN,1,1,02208
177,1,1,523190,NaN,68.0,NaN,2,1,04205
179,2,1,528151,38.5,100.0,NaN,3,2,01111
185,1,1,534833,38.5,120.0,NaN,1,1,05400
205,2,1,528151,38.5,100.0,NaN,3,2,04124
216,2,1,528977,NaN,NaN,NaN,1,2,00000
218,1,1,535240,38.1,40.0,NaN,3,1,03112
220,1,1,535029,39.2,88.0,NaN,3,2,03205
230,1,1,534280,38.5,104.0,NaN,1,1,02124
243,1,1,5281091,38.4,92.0,NaN,1,1,02208
245,2,1,528904,NaN,96.0,NaN,2,1,41110
248,1,1,527709,38.0,108.0,NaN,1,1,02205
274,1,1,534624,NaN,76.0,NaN,3,1,11124
288,1,1,529428,NaN,NaN,NaN,1,1,02124
296,2,1,527702,37.2,72.0,NaN,3,1,02208

### Пропуски

In [19]:
# Изучаем информацию по изначальному датафрейму,
# Исключаем все строки с нулевыми значениями,
# Изучаем информацию по результирующему датафрейму
# Из расчетов выпадают 87 строк

df_test.info()
df_notnull =df_test.dropna(axis='index', how='any')
df_notnull.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   surgery          299 non-null    object
 1   age              300 non-null    int64
 2   hospital_number  300 non-null    object
 3   rectal_temp      240 non-null    float64
 4   pulse            276 non-null    float64
 5   total_protein    267 non-null    float64
 6   outcome          299 non-null    object
 7   surgical_lesion  300 non-null    object
 8   site_lesion      300 non-null    object
dtypes: float64(3), int64(1), object(5)
memory usage: 21.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 213 entries, 0 to 299
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   surgery          213 non-null    object
 1   age              213 non-null    int64
 2   hospital_number  213 non-null    object
 3   rectal_temp      213 non-null    float64
 4   pulse            213 non-null    float64
 5   total_protein    213 non-null    float64
 6   outcome          213 non-null    object
 7   surgical_lesion  213 non-null    object
 8   site_lesion      213 non-null    object
dtypes: float64(3), int64(1), object(5)
memory usage: 16.6+ KB

In [20]:
# Ниже сравнение исходной тестовой и таблицы без нулевых срок
# Изучаем влияние исключения целых строк данных, содержащих нулевые значения, на основные агрегирующие функции
# Отличие среднего значения и ст.отклонения для темперетуры в третьем знаке после запятой, что можно считать незначительным
# Отличие среднего значения и ст.отклонения для пульса 3.45% и 1.91% соответственно
# Отличие среднего значения и ст.отклонения для об.белок 4.14% и 1.51% соответственно
# Удаление нулевых данных повлияло лишь на 75ый и 50ый квантиль(медиану, что отмечено ниже) для данных пульса
# Поскольку выше уже были исследованы выбросы и решено было их оставить, это не имеет особого значения

In [21]:
df_test.describe()

              age  rectal_temp       pulse  total_protein
count  300.000000   240.000000  276.000000     267.000000
mean     1.640000    38.167917   71.913043      24.456929
std      2.173972     0.732289   28.630557      27.475009
min      1.000000    35.400000   30.000000       3.300000
25%      1.000000    37.800000   48.000000       6.500000
50%      1.000000    38.200000   64.000000       7.500000
75%      1.000000    38.500000   88.000000      57.000000
max      9.000000    40.800000  184.000000      89.000000

In [22]:
df_notnull.describe()

              age  rectal_temp       pulse  total_protein
count  213.000000   213.000000  213.000000     213.000000
mean     1.676056    38.162441   69.431925      25.514085
std      2.230416     0.738687   28.083792      27.902341
min      1.000000    35.400000   30.000000       3.300000
25%      1.000000    37.800000   48.000000       6.600000
50%      1.000000    38.200000   60.000000       7.500000
75%      1.000000    38.500000   86.000000      58.000000
max      9.000000    40.800000  184.000000      89.000000

In [23]:
# Сравнение моды и медианы для исходного тестового датафрейма и с исключенными нулевыми данными
# Исключение данных оказало влияние лишь на медиану значений пульса


print('Мода значений температуры (test/notnull) ', df_test.rectal_temp.round().mode()[0], '/', df_notnull.rectal_temp.round().mode()[0])
print('Медиана значений температуры (test/notnull) ', df_test.rectal_temp.median(), '/', df_notnull.rectal_temp.median(), '\n')

print('Мода значений пульса (test/notnull) ', df_test.pulse.round().mode()[0], '/', df_notnull.pulse.round().mode()[0])
print('Медиана значений пульса (test/notnull) ', df_test.pulse.median(), '/', df_notnull.pulse.median(), '\n')

print('Мода значений общий белок (test/notnull)', df_test.total_protein.round().mode()[0], '/', df_notnull.total_protein.round().mode()[0])
print('Медиана значений общий белок (test/notnull)', df_test.total_protein.median(), '/', df_notnull.total_protein.median())

Мода значений температуры (test/notnull)  38.0 / 38.0
Медиана значений температуры (test/notnull)  38.2 / 38.2

Мода значений пульса (test/notnull)  48.0 / 48.0
Медиана значений пульса (test/notnull)  64.0 / 60.0

Мода значений общий белок (test/notnull) 7.0 / 7.0
Медиана значений общий белок (test/notnull) 7.5 / 7.5

In [24]:
# Здесь можно посмотреть каким образом удаление данных повлияет на основные агрегирующие функции относительно типа болезни 
# Вывод только для тех типов болезни, на которые удаление нулевых данных каким-либо образом повлияло
# В случае, если необходимо будет делать какие-то конкретные заключения по типам болезни, это поможет определить 
# целесообразность удаления всей строки, не окажется ли изменение данных в связи с этим слишком значительным
# Ниже представлен аналогичный набор для данных по пульсу и об.белок.

agg_func_math_T = {
    'rectal_temp': ['describe']
}
res_test_T = df_test.groupby(['site_lesion']).agg(agg_func_math_T).round(2)
res_notnull_T = df_notnull.groupby(['site_lesion']).agg(agg_func_math_T).round(2)
pd.concat([res_test_T, res_notnull_T]).sort_values(['site_lesion']).drop_duplicates(keep=False)

            rectal_temp
               describe
                  count   mean   std   min    25%    50%    75%   max
site_lesion
00000              51.0  38.22  0.51  37.3  37.80  38.20  38.60  39.5
00000              49.0  38.25  0.51  37.3  37.90  38.30  38.60  39.5
02113               3.0  38.93  0.40  38.5  38.75  39.00  39.15  39.3
02113               6.0  38.58  0.70  37.7  37.97  38.75  39.15  39.3
02124               6.0  38.33  0.37  37.8  38.15  38.35  38.48  38.9
02124               5.0  38.30  0.41  37.8  38.10  38.30  38.40  38.9
02205               9.0  38.00  0.78  36.4  37.80  38.00  38.40  39.2
02205              11.0  38.00  0.70  36.4  37.80  38.00  38.25  39.2
02207               2.0  38.25  1.48  37.2  37.72  38.25  38.78  39.3
02207               1.0  37.20   NaN  37.2  37.20  37.20  37.20  37.2
02208              15.0  38.03  0.78  36.5  37.45  38.20  38.60  39.2
02208              13.0  38.06  0.80  36.5  37.50  38.20  38.70  39.2
03111              28.0  38.13  0.40  36.9  38.00  38.15  38.40  38.8
03111              24.0  38.18  0.39  36.9  38.00  38.20  38.40  38.8
03112               1.0  36.50   NaN  36.5  36.50  36.50  36.50  36.5
03112               2.0  37.30  1.13  36.5  36.90  37.30  37.70  38.1
03115               1.0  39.20   NaN  39.2  39.20  39.20  39.20  39.2
03205              19.0  37.88  0.98  35.4  37.40  38.00  38.15  40.3
03205              16.0  37.86  0.98  35.4  37.45  37.90  38.12  40.3
04124               2.0  38.00  1.13  37.2  37.60  38.00  38.40  38.8
04124               3.0  38.17  0.85  37.2  37.85  38.50  38.65  38.8
04205               4.0  37.88  0.42  37.6  37.68  37.70  37.90  38.5
04205               5.0  38.20  0.81  37.6  37.70  37.70  38.50  39.5
05400               4.0  38.30  0.56  37.8  37.88  38.20  38.62  39.0
05400               3.0  38.23  0.67  37.8  37.85  37.90  38.45  39.0
07111               5.0  38.64  0.38  38.0  38.60  38.80  38.90  38.9
07111               4.0  38.65  0.44  38.0  38.60  38.85  38.90  38.9
07209               2.0  37.95  0.64  37.5  37.72  37.95  38.17  38.4
07209               3.0  37.77  0.55  37.4  37.45  37.50  37.95  38.4
31110               6.0  38.17  0.89  37.0  37.48  38.40  38.65  39.3
31110               5.0  38.06  0.96  37.0  37.20  38.30  38.50  39.3

In [25]:
agg_func_math_P = {
    'pulse': ['describe']
}
res_test_P = df_test.groupby(['site_lesion']).agg(agg_func_math_P).round(2)
res_notnull_P = df_notnull.groupby(['site_lesion']).agg(agg_func_math_P).round(2)
pd.concat([res_test_P, res_notnull_P]).sort_values(['site_lesion']).drop_duplicates(keep=False)

               pulse
            describe
               count    mean    std    min     25%    50%    75%    max
site_lesion
00000           52.0   54.87  15.94   40.0   44.00   50.0   60.0  110.0
00000           49.0   54.39  15.98   40.0   44.00   50.0   56.0  110.0
00400            5.0   60.40  29.27   40.0   48.00   48.0   54.0  112.0
00400            4.0   47.50   5.74   40.0   46.00   48.0   49.5   54.0
01400            8.0   91.00  27.30   42.0   80.50   92.0  105.0  128.0
01400            6.0   88.33  25.94   42.0   85.00   92.0   99.0  120.0
02111            3.0   65.33  11.55   52.0   62.00   72.0   72.0   72.0
02111            2.0   72.00   0.00   72.0   72.00   72.0   72.0   72.0
02112            4.0   76.25  39.47   45.0   50.25   64.0   90.0  132.0
02112            5.0   75.00  34.29   45.0   52.00   70.0   76.0  132.0
02113            3.0   64.67  35.00   30.0   47.00   64.0   82.0  100.0
02113            6.0   71.00  44.95   30.0   36.50   60.0   91.0  146.0
02124            8.0   81.00  28.84   48.0   53.50   83.0  104.0  120.0
02124            5.0   78.40  31.86   48.0   54.00   66.0  104.0  120.0
02205            9.0   85.11  31.56   42.0   60.00   84.0   98.0  136.0
02205           12.0   85.17  32.51   36.0   57.00   90.0  109.0  136.0
02207            2.0  106.00   2.83  104.0  105.00  106.0  107.0  108.0
02207            1.0  108.00    NaN  108.0  108.00  108.0  108.0  108.0
02208           18.0   80.89  29.56   40.0   61.00   78.0   92.0  164.0
02208           13.0   87.08  31.11   48.0   66.00   84.0   96.0  164.0
02209            9.0   72.22  27.14   44.0   60.00   60.0   88.0  130.0
02209           11.0   75.27  25.68   44.0   60.00   76.0   88.0  130.0
03111           32.0   55.88  20.73   36.0   42.00   48.0   60.0  130.0
03111           24.0   56.75  21.84   36.0   45.00   48.0   60.0  130.0
03112            1.0   78.00    NaN   78.0   78.00   78.0   78.0   78.0
03112            2.0   59.00  26.87   40.0   49.50   59.0   68.5   78.0
03205           26.0   79.96  28.47   38.0   60.00   76.0   90.0  140.0
03205           16.0   74.12  28.07   38.0   48.00   71.0   88.5  140.0
03209            4.0   67.50  14.08   52.0   61.00   66.0   72.5   86.0
04124            3.0   63.33  31.90   42.0   45.00   48.0   74.0  100.0
04205            4.0  100.00  26.53   64.0   88.00  108.0  120.0  120.0
04205            9.0   93.33  19.49   64.0   88.00   96.0  100.0  120.0
05206            2.0   58.00   2.83   56.0   57.00   58.0   59.0   60.0
05400            4.0   81.50  29.18   52.0   64.00   77.0   94.5  120.0
06111            2.0   78.00  25.46   60.0   69.00   78.0   87.0   96.0
07111            7.0  121.14  40.71   80.0   90.00  104.0  150.0  184.0
07111            4.0  121.00  50.64   80.0   80.00  110.0  151.0  184.0
07209            2.0   76.00   5.66   72.0   74.00   76.0   78.0   80.0
07209            3.0   78.67   6.11   72.0   76.00   80.0   82.0   84.0
11124            1.0   76.00    NaN   76.0   76.00   76.0   76.0   76.0
31110            6.0   60.33  12.36   36.0   61.00   65.0   66.0   70.0
31110            5.0   58.40  12.76   36.0   60.00   64.0   66.0   66.0

In [105]:
agg_func_math_TP = {
    'total_protein': ['describe']
}
res_test_TP = df_test.groupby(['site_lesion']).agg(agg_func_math_TP).round(2)
res_notnull_TP = df_notnull.groupby(['site_lesion']).agg(agg_func_math_TP).round(2)
pd.concat([res_test_TP, res_notnull_TP]).sort_values(['site_lesion']).drop_duplicates(keep=False)

            total_protein
                 describe
                    count   mean    std   min    25%    50%    75%   max
site_lesion
00000                52.0  37.71  29.36   5.0   6.80  55.00  64.25  80.0
00000                49.0  36.80  28.93   5.0   6.80  54.00  64.00  77.0
00400                 5.0   6.82   1.53   5.3   5.70   6.20   8.30   8.6
00400                 4.0   7.20   1.46   5.7   6.08   7.25   8.38   8.6
01400                 8.0  29.82  31.76   6.0   7.32   8.15  58.75  81.0
01400                 6.0  37.22  33.91   6.0   7.22  32.75  62.25  81.0
02111                 3.0   7.33   1.08   6.1   6.95   7.80   7.95   8.1
02111                 2.0   6.95   1.20   6.1   6.52   6.95   7.38   7.8
02112                 4.0  25.88  36.75   7.0   7.38   7.75  26.25  81.0
02112                 5.0  22.20  32.87   7.0   7.50   7.50   8.00  81.0
02124                 7.0   6.93   0.82   6.0   6.45   6.70   7.20   8.5
02124                 5.0   6.94   0.98   6.0   6.30   6.70   7.20   8.5
02205                 9.0  14.53  22.72   4.9   6.40   7.00   8.80  75.0
02205                12.0  12.57  19.70   4.9   6.20   6.80   8.05  75.0
02207                 2.0   8.40   0.28   8.2   8.30   8.40   8.50   8.6
02207                 1.0   8.20    NaN   8.2   8.20   8.20   8.20   8.2
02208                17.0  25.56  28.83   6.0   7.60   8.60  55.00  85.0
02208                13.0  26.05  29.17   6.0   7.60   8.60  55.00  85.0
02209                 9.0  15.37  25.05   4.6   6.50   6.60   7.60  82.0
02209                11.0  24.03  29.55   4.6   6.50   7.00  36.50  82.0
03025                 2.0   5.90   0.00   5.9   5.90   5.90   5.90   5.9
03111                30.0  27.18  29.42   5.5   6.67   7.25  58.00  80.0
03111                24.0  24.75  28.77   5.5   6.57   7.20  58.00  80.0
03112                 1.0  75.00    NaN  75.0  75.00  75.00  75.00  75.0
03112                 2.0  40.85  48.30   6.7  23.78  40.85  57.92  75.0
03205                25.0  35.84  31.52   4.5   6.60   8.10  65.00  89.0
03205                16.0  44.94  31.24   6.1   7.88  62.00  68.25  89.0
03209                 3.0   6.90   0.70   6.1   6.65   7.20   7.30   7.4
03209                 4.0   7.10   0.70   6.1   6.93   7.30   7.48   7.7
04205                 4.0  18.88  23.42   7.0   7.00   7.25  19.12  54.0
04205                 9.0  17.86  21.65   6.3   6.70   7.00   7.70  58.0
05206                 1.0   4.50    NaN   4.5   4.50   4.50   4.50   4.5
05206                 2.0   5.25   1.06   4.5   4.88   5.25   5.62   6.0
06111                 1.0  65.00    NaN  65.0  65.00  65.00  65.00  65.0
06111                 2.0  67.50   3.54  65.0  66.25  67.50  68.75  70.0
07111                 6.0   5.78   1.76   3.3   4.85   5.90   6.50   8.4
07111                 4.0   5.40   1.51   3.3   4.80   5.90   6.50   6.5
09000                 1.0   6.50    NaN   6.5   6.50   6.50   6.50   6.5
11124                 1.0   4.90    NaN   4.9   4.90   4.90   4.90   4.9
31110                 7.0   6.54   0.54   5.7   6.25   6.70   6.80   7.3
31110                 5.0   6.40   0.52   5.7   6.00   6.70   6.70   6.9

### Замена значений Nan
#### Для Температуры

In [79]:
df_test_mean = df_test.copy(deep=True)
df_test_mean['rectal_temp'] = df_test_mean['rectal_temp'].fillna((df_test_mean['rectal_temp'].mean()))
df_test_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   surgery          299 non-null    object
 1   age              300 non-null    int64
 2   hospital_number  300 non-null    object
 3   rectal_temp      300 non-null    float64
 4   pulse            276 non-null    float64
 5   total_protein    267 non-null    float64
 6   outcome          299 non-null    object
 7   surgical_lesion  300 non-null    object
 8   site_lesion      300 non-null    object
dtypes: float64(3), int64(1), object(5)
memory usage: 21.2+ KB

In [76]:
print('Средняя температура по больнице c NaN/с заменой на mean()', df_test.rectal_temp.mean(), ' / ', df_test_mean.rectal_temp.mean())
print('Мода значений температуры c NaN/с заменой на mean()', df_test.rectal_temp.round().mode()[0], ' / ', df_test_mean.rectal_temp.round().mode()[0])
print('Медиана значений температуры c NaN/с заменой на mean()', df_test.rectal_temp.median(), ' / ', df_test_mean.rectal_temp.median(), '\n')

print('СКО и диспресия')
print('Температура')
print('c Nan               ', df_test.rectal_temp.std(), '/', df_test.rectal_temp.var(), 
      '\nc заменой на mean() ', df_test_mean.rectal_temp.std(), '/', df_test_mean.rectal_temp.var(), '\n')

Q1_T_mean = df_test_mean.rectal_temp.quantile(0.25)
Q3_T_mean = df_test_mean.rectal_temp.quantile(0.75)
IQR_T_mean = Q3_T_mean - Q1_T_mean
print('Температура \nc NaN\nIQR: ', IQR_T, '\n25ый квантиль: ', Q1_T, '\n75ый квантиль', Q3_T, 
      '\nс заменой на mean()\nIQR: ', IQR_T_mean, '\n25ый квантиль: ', Q1_T_mean, '\n75ый квантиль', Q3_T_mean)

Средняя температура по больнице c NaN/с заменой на mean() 38.16791666666669  /  38.16791666666669
Мода значений температуры c NaN/с заменой на mean() 38.0  /  38.0
Медиана значений температуры c NaN/с заменой на mean() 38.2  /  38.16791666666669

СКО и диспресия
Температура
c Nan                0.7322886641121578 / 0.5362466875871686
c заменой на mean()  0.6547050149748525 / 0.42863865663322176

Температура
c NaN
IQR:  0.7000000000000028
25ый квантиль:  37.8
75ый квантиль 38.5
с заменой на mean()
IQR:  0.6000000000000014
25ый квантиль:  37.9
75ый квантиль 38.5

In [44]:
df_test_median = df_test.copy(deep=True)
df_test_median['rectal_temp'] = df_test_median['rectal_temp'].fillna((df_test_median['rectal_temp'].median()))

In [77]:
print('Средняя температура по больнице c NaN/с заменой на median()', df_test.rectal_temp.mean(), ' / ', df_test_median.rectal_temp.mean())
print('Мода значений температуры c NaN/с заменой на median()', df_test.rectal_temp.round().mode()[0], ' / ', df_test_median.rectal_temp.round().mode()[0])
print('Медиана значений температуры c NaN/с заменой на median()', df_test.rectal_temp.median(), ' / ', df_test_median.rectal_temp.median(), '\n')

print('СКО и диспресия')
print('Температура')
print('c Nan               ', df_test.rectal_temp.std(), '/', df_test.rectal_temp.var(), 
      '\nc заменой на median() ', df_test_median.rectal_temp.std(), '/', df_test_median.rectal_temp.var(), '\n')

Q1_T_median = df_test_median.rectal_temp.quantile(0.25)
Q3_T_median = df_test_median.rectal_temp.quantile(0.75)
IQR_T_median = Q3_T_median - Q1_T_median
print('Температура \nc NaN\nIQR: ', IQR_T, '\n25ый квантиль: ', Q1_T, '\n75ый квантиль', Q3_T, 
      '\nс заменой на median()\nIQR: ', IQR_T_median, '\n25ый квантиль: ', Q1_T_median, '\n75ый квантиль', Q3_T_median)

Средняя температура по больнице c NaN/с заменой на median() 38.16791666666669  /  38.17433333333336
Мода значений температуры c NaN/с заменой на median() 38.0  /  38.0
Медиана значений температуры c NaN/с заменой на median() 38.2  /  38.2

СКО и диспресия
Температура
c Nan                0.7322886641121578 / 0.5362466875871686
c заменой на median()  0.6548312010703262 / 0.42880390189520606

Температура
c NaN
IQR:  0.7000000000000028
25ый квантиль:  37.8
75ый квантиль 38.5
с заменой на median()
IQR:  0.6000000000000014
25ый квантиль:  37.9
75ый квантиль 38.5

In [50]:
df_test_mode = df_test.copy(deep=True)
df_test_mode['rectal_temp'] = df_test_mode['rectal_temp'].fillna((df_test_mode['rectal_temp'].mode()[0]))

In [78]:
print('Средняя температура по больнице c NaN/с заменой на mode()', df_test.rectal_temp.mean(), ' / ', df_test_mode.rectal_temp.mean())
print('Мода значений температуры c NaN/с заменой на mode()', df_test.rectal_temp.round().mode()[0], ' / ', df_test_mode.rectal_temp.round().mode()[0])
print('Медиана значений температуры c NaN/с заменой на mode()', df_test.rectal_temp.median(), ' / ', df_test_mode.rectal_temp.median(), '\n')

print('СКО и диспресия')
print('Температура')
print('c Nan               ', df_test.rectal_temp.std(), '/', df_test.rectal_temp.var(), 
      '\nc заменой на mode() ', df_test_mode.rectal_temp.std(), '/', df_test_mode.rectal_temp.var(), '\n')

Q1_T_mode = df_test_mode.rectal_temp.quantile(0.25)
Q3_T_mode = df_test_mode.rectal_temp.quantile(0.75)
IQR_T_mode = Q3_T_mode - Q1_T_mode
print('Температура \nc NaN\nIQR: ', IQR_T, '\n25ый квантиль: ', Q1_T, '\n75ый квантиль', Q3_T, 
      '\nс заменой на mode()\nIQR: ', IQR_T_mode, '\n25ый квантиль: ', Q1_T_mode, '\n75ый квантиль', Q3_T_mode)

Средняя температура по больнице c NaN/с заменой на mode() 38.16791666666669  /  38.134333333333345
Мода значений температуры c NaN/с заменой на mode() 38.0  /  38.0
Медиана значений температуры c NaN/с заменой на mode() 38.2  /  38.0

СКО и диспресия
Температура
c Nan                0.7322886641121578 / 0.5362466875871686
c заменой на mode()  0.6581527982988336 / 0.43316510590858504

Температура
c NaN
IQR:  0.7000000000000028
25ый квантиль:  37.8
75ый квантиль 38.5
с заменой на mode()
IQR:  0.6000000000000014
25ый квантиль:  37.9
75ый квантиль 38.5

In [ ]:
# Отличие в данных при замене NaN на любую величину незначительные (доли процента), так что для расчетов можно использовать любое
# значение. Если говорить о максимальной точности, то в данном случае, для температуры предпочтительнее выбрать 
# замену NaN на значение медианы

#### Для Пульса

In [63]:
df_test_mean_P = df_test.copy(deep=True)
df_test_mean_P['pulse'] = df_test_mean_P['pulse'].fillna((df_test_mean_P['pulse'].mean()))
df_test_mean_P.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   surgery          299 non-null    object
 1   age              300 non-null    int64
 2   hospital_number  300 non-null    object
 3   rectal_temp      240 non-null    float64
 4   pulse            300 non-null    float64
 5   total_protein    267 non-null    float64
 6   outcome          299 non-null    object
 7   surgical_lesion  300 non-null    object
 8   site_lesion      300 non-null    object
dtypes: float64(3), int64(1), object(5)
memory usage: 21.2+ KB

In [62]:
print('Средний пулс по больнице c NaN/с заменой на mean()', df_test.pulse.mean(), ' / ', df_test_mean_P.pulse.mean())
print('Мода значений пульса c NaN/с заменой на mean()', df_test.pulse.round().mode()[0], ' / ', df_test_mean_P.pulse.round().mode()[0])
print('Медиана значений пульса c NaN/с заменой на mean()', df_test.pulse.median(), ' / ', df_test_mean_P.pulse.median())

print('\nСКО и диспресия')
print('Пульс')
print('c Nan               ', df_test.pulse.std(), '/', df_test.pulse.var(), '\nc заменой на mean() ', df_test_mean_P.pulse.std(), '/', df_test_mean_P.pulse.var())

Q1_P_mean = df_test_mean_P.pulse.quantile(0.25)
Q3_P_mean = df_test_mean_P.pulse.quantile(0.75)
IQR_P_mean = Q3_P_mean - Q1_P_mean
print('\nПульс \nc NaN\nIQR: ', IQR_P, '\n25ый квантиль: ', Q1_P, '\n75ый квантиль', Q3_P, 
      '\nс заменой на mean()\nIQR: ', IQR_P_mean, '\n25ый квантиль: ', Q1_P_mean, '\n75ый квантиль', Q3_P_mean)

Средний пулс по больнице c NaN/с заменой на mean() 71.91304347826087  /  71.91304347826083
Мода значений пульса c NaN/с заменой на mean() 48.0  /  72.0
Медиана значений пульса c NaN/с заменой на mean() 64.0  /  68.0

СКО и диспресия
Пульс
c Nan                28.630556660735003 / 819.7087747035575
c заменой на mean()  27.45747170905896 / 753.9127526537732

Пульс
c NaN
IQR:  40.0
25ый квантиль:  48.0
75ый квантиль 88.0
с заменой на mean()
IQR:  40.0
25ый квантиль:  48.0
75ый квантиль 88.0

In [65]:
df_test_median_P = df_test.copy(deep=True)
df_test_median_P['pulse'] = df_test_median_P['pulse'].fillna((df_test_median_P['pulse'].median()))

In [66]:
print('Средний пулс по больнице c NaN/с заменой на median()', df_test.pulse.mean(), ' / ', df_test_median_P.pulse.mean())
print('Мода значений пульса c NaN/с заменой на median()', df_test.pulse.round().mode()[0], ' / ', df_test_median_P.pulse.round().mode()[0])
print('Медиана значений пульса c NaN/с заменой на median()', df_test.pulse.median(), ' / ', df_test_median_P.pulse.median())

print('\nСКО и диспресия')
print('Пульс')
print('c Nan               ', df_test.pulse.std(), '/', df_test.pulse.var(), 
      '\nc заменой на median() ', df_test_median_P.pulse.std(), '/', df_test_median_P.pulse.var())

Q1_P_median = df_test_median_P.pulse.quantile(0.25)
Q3_P_median = df_test_median_P.pulse.quantile(0.75)
IQR_P_median = Q3_P_median - Q1_P_median
print('\nПульс \nc NaN\nIQR: ', IQR_P, '\n25ый квантиль: ', Q1_P, '\n75ый квантиль', Q3_P, 
      '\nс заменой на median()\nIQR: ', IQR_P_median, '\n25ый квантиль: ', Q1_P_median, '\n75ый квантиль', Q3_P_median)

Средний пулс по больнице c NaN/с заменой на median() 71.91304347826087  /  71.28
Мода значений пульса c NaN/с заменой на median() 48.0  /  64.0
Медиана значений пульса c NaN/с заменой на median() 64.0  /  64.0

СКО и диспресия
Пульс
c Nan                28.630556660735003 / 819.7087747035575
c заменой на median()  27.54154538888526 / 758.536722408027

Пульс
c NaN
IQR:  40.0
25ый квантиль:  48.0
75ый квантиль 88.0
с заменой на median()
IQR:  40.0
25ый квантиль:  48.0
75ый квантиль 88.0

In [67]:
df_test_mode_P = df_test.copy(deep=True)
df_test_mode_P['pulse'] = df_test_mode_P['pulse'].fillna((df_test_mode_P['pulse'].mode()[0]))

In [68]:
print('Средний пулс по больнице c NaN/с заменой на mode()', df_test.pulse.mean(), ' / ', df_test_mode_P.pulse.mean())
print('Мода значений пульса c NaN/с заменой на mode()', df_test.pulse.round().mode()[0], ' / ', df_test_mode_P.pulse.round().mode()[0])
print('Медиана значений пульса c NaN/с заменой на mode()', df_test.pulse.median(), ' / ', df_test_mode_P.pulse.median())

print('\nСКО и диспресия')
print('Пульс')
print('c Nan               ', df_test.pulse.std(), '/', df_test.pulse.var(), 
      '\nc заменой на mode() ', df_test_mode_P.pulse.std(), '/', df_test_mode_P.pulse.var())

Q1_P_mode = df_test_mode_P.pulse.quantile(0.25)
Q3_P_mode = df_test_mode_P.pulse.quantile(0.75)
IQR_P_mode = Q3_P_mode - Q1_P_mode
print('\nПульс \nc NaN\nIQR: ', IQR_P, '\n25ый квантиль: ', Q1_P, '\n75ый квантиль', Q3_P, 
      '\nс заменой на mode()\nIQR: ', IQR_P_mode, '\n25ый квантиль: ', Q1_P_mode, '\n75ый квантиль', Q3_P_mode)

Средний пулс по больнице c NaN/с заменой на mode() 71.91304347826087  /  70.0
Мода значений пульса c NaN/с заменой на mode() 48.0  /  48.0
Медиана значений пульса c NaN/с заменой на mode() 64.0  /  60.0

СКО и диспресия
Пульс
c Nan                28.630556660735003 / 819.7087747035575
c заменой на mode()  28.215961231675678 / 796.1404682274248

Пульс
c NaN
IQR:  40.0
25ый квантиль:  48.0
75ый квантиль 88.0
с заменой на mode()
IQR:  40.0
25ый квантиль:  48.0
75ый квантиль 88.0

In [ ]:
# Здесь любая замена вносит значительные изменения в расчеты средних велечин, поскольку разброс 
# между минимальным и максимальным значением большой. Замену стоит производить в зависимости от постановки задачи.
# Если в расчетах не будет использоваться мода значений, то приемлимым выглядит замена NaN на значение медианы

#### Для общий белок

In [69]:
df_test_mean_TP = df_test.copy(deep=True)
df_test_mean_TP['total_protein'] = df_test_mean_TP['total_protein'].fillna((df_test_mean_TP['total_protein'].mean()))
df_test_mean_TP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   surgery          299 non-null    object
 1   age              300 non-null    int64
 2   hospital_number  300 non-null    object
 3   rectal_temp      240 non-null    float64
 4   pulse            276 non-null    float64
 5   total_protein    300 non-null    float64
 6   outcome          299 non-null    object
 7   surgical_lesion  300 non-null    object
 8   site_lesion      300 non-null    object
dtypes: float64(3), int64(1), object(5)
memory usage: 21.2+ KB

In [70]:
print('Средний общий белок по больнице c NaN/с заменой на mean()', df_test.total_protein.mean(), ' / ', df_test_mean_TP.total_protein.mean())
print('Мода значений общий белок c NaN/с заменой на mean()', df_test.total_protein.round().mode()[0], ' / ', df_test_mean_TP.total_protein.round().mode()[0])
print('Медиана значений общий белок c NaN/с заменой на mean()', df_test.total_protein.median(), ' / ', df_test_mean_TP.total_protein.median())

print('\nСКО и диспресия')
print('Общий белок')
print('c Nan               ', df_test.total_protein.std(), '/', df_test.total_protein.var(), 
      '\nc заменой на mean() ', df_test_mean_TP.total_protein.std(), '/', df_test_mean_TP.total_protein.var())

Q1_TP_mean = df_test_mean_TP.total_protein.quantile(0.25)
Q3_TP_mean = df_test_mean_TP.total_protein.quantile(0.75)
IQR_TP_mean = Q3_TP_mean - Q1_TP_mean
print('\nОбщий белок \nc NaN\nIQR: ', IQR_TP, '\n25ый квантиль: ', Q1_TP, '\n75ый квантиль', Q3_TP, 
      '\nс заменой на mean()\nIQR: ', IQR_TP_mean, '\n25ый квантиль: ', Q1_TP_mean, '\n75ый квантиль', Q3_TP_mean)

Средний общий белок по больнице c NaN/с заменой на mean() 24.456928838951317  /  24.456928838951306
Мода значений общий белок c NaN/с заменой на mean() 7.0  /  7.0
Медиана значений общий белок c NaN/с заменой на mean() 7.5  /  7.7

СКО и диспресия
Общий белок
c Nan                27.475009470785064 / 754.8761454197289
c заменой на mean()  25.914514384635197 / 671.5620557914646

Общий белок
c NaN
IQR:  50.5
25ый квантиль:  6.5
75ый квантиль 57.0
с заменой на mean()
IQR:  46.65
25ый квантиль:  6.6
75ый квантиль 53.25

In [71]:
df_test_median_TP = df_test.copy(deep=True)
df_test_median_TP['total_protein'] = df_test_median_TP['total_protein'].fillna((df_test_median_TP['total_protein'].median()))

In [72]:
print('Средний Общий белок по больнице c NaN/с заменой на median()', df_test.total_protein.mean(), ' / ', df_test_median_TP.total_protein.mean())
print('Мода значений Общий белок c NaN/с заменой на median()', df_test.total_protein.round().mode()[0], ' / ', df_test_median_TP.total_protein.round().mode()[0])
print('Медиана значений Общий белок c NaN/с заменой на median()', df_test.total_protein.median(), ' / ', df_test_median_TP.total_protein.median())

print('\nСКО и диспресия')
print('Общий белок')
print('c Nan               ', df_test.total_protein.std(), '/', df_test.total_protein.var(), 
      '\nc заменой на median() ', df_test_median_TP.total_protein.std(), '/', df_test_median_TP.total_protein.var())

Q1_TP_median = df_test_median_TP.total_protein.quantile(0.25)
Q3_TP_median = df_test_median_TP.total_protein.quantile(0.75)
IQR_TP_median = Q3_TP_median - Q1_TP_median
print('\nОбщий белок \nc NaN\nIQR: ', IQR_TP, '\n25ый квантиль: ', Q1_TP, '\n75ый квантиль', Q3_TP, 
      '\nс заменой на median()\nIQR: ', IQR_TP_median, '\n25ый квантиль: ', Q1_TP_median, '\n75ый квантиль', Q3_TP_median)

Средний Общий белок по больнице c NaN/с заменой на median() 24.456928838951317  /  22.591666666666676
Мода значений Общий белок c NaN/с заменой на median() 7.0  /  8.0
Медиана значений Общий белок c NaN/с заменой на median() 7.5  /  7.5

СКО и диспресия
Общий белок
c Nan                27.475009470785064 / 754.8761454197289
c заменой на median()  26.453848824212137 / 699.80611761427

Общий белок
c NaN
IQR:  50.5
25ый квантиль:  6.5
75ый квантиль 57.0
с заменой на median()
IQR:  46.65
25ый квантиль:  6.6
75ый квантиль 53.25

In [73]:
df_test_mode_TP = df_test.copy(deep=True)
df_test_mode_TP['total_protein'] = df_test_mode_TP['total_protein'].fillna((df_test_mode_TP['total_protein'].mode()[0]))

In [74]:
print('Средний Общий белок по больнице c NaN/с заменой на mode()', df_test.total_protein.mean(), ' / ', df_test_mode_TP.total_protein.mean())
print('Мода значений Общий белок c NaN/с заменой на mode()', df_test.total_protein.round().mode()[0], ' / ', df_test_mode_TP.total_protein.round().mode()[0])
print('Медиана значений Общий белок c NaN/с заменой на mode()', df_test.total_protein.median(), ' / ', df_test_mode_TP.total_protein.median())

print('\nСКО и диспресия')
print('Общий белок')
print('c Nan               ', df_test.total_protein.std(), '/', df_test.total_protein.var(), 
      '\nc заменой на mode() ', df_test_mode_TP.total_protein.std(), '/', df_test_mode_TP.total_protein.var())

Q1_TP_mode = df_test_mode_TP.total_protein.quantile(0.25)
Q3_TP_mode = df_test_mode_TP.total_protein.quantile(0.75)
IQR_TP_mode = Q3_TP_mode - Q1_TP_mode
print('\nОбщий белок \nc NaN\nIQR: ', IQR_TP, '\n25ый квантиль: ', Q1_TP, '\n75ый квантиль', Q3_TP, 
      '\nс заменой на mode()\nIQR: ', IQR_TP_mode, '\n25ый квантиль: ', Q1_TP_mode, '\n75ый квантиль', Q3_TP_mode)

Средний Общий белок по больнице c NaN/с заменой на mode() 24.456928838951317  /  22.481666666666676
Мода значений Общий белок c NaN/с заменой на mode() 7.0  /  6.0
Медиана значений Общий белок c NaN/с заменой на mode() 7.5  /  7.2

СКО и диспресия
Общий белок
c Nan                27.475009470785064 / 754.8761454197289
c заменой на mode()  26.518590006673225 / 703.235615942029

Общий белок
c NaN
IQR:  50.5
25ый квантиль:  6.5
75ый квантиль 57.0
с заменой на mode()
IQR:  46.75
25ый квантиль:  6.5
75ый квантиль 53.25

In [ ]:
# Наименьшее влияние на изменение средних значений показывает замена NaN на среднее арифметическое.

### Общий вывод

In [ ]:
Если исследовать некоего сферического коня в вакууме, то оптимальным будет замена пустых значений температуры и 
пульса на значения медианы, а пустых значений общий белок на значение среднего. Поскольку речь идет о больных
лошадях, я предполагаю, что в любом исследовании будет важен не некий средний конь, а влияние отдельных фаторов на исход,
течение болезни, симпоматику и иное. В таком случае пустая замена НаН на некие средние показатели, может внести путаницу.
Но поскольку конкретной задачи не стоит, полное исследование всего подряд займет еще пару сотен запросов.